*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(to left , #DEECF7 , #DEECF9);
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}
header .name-label *{
    margin: 0;
}
header .name-label h2{
    color: #10234D;
    font-family: poppins;
    font-weight: 500;
    font-size: 24px;

}
header .name-label p{
    color: #4C5C73;
    font-family: poppins;
    font-size: 14px;
}
.search-box{
background-color: #EDF4FA;
border: solid 1px white;
border-radius: 50px;
align-items: center;
justify-content: flex-start;
padding: 3px 20px;
height: 100%;
gap: 5px;
display: flex;
max-width: 500px;
flex: 1;

}
.search-box input{
 border: none;
 outline: none;
 background-color: transparent;
 padding: 10px;

}
.user-info{
    background-color: #EDF4FA;
    border: solid 1px white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 8px;
    gap: 10px;
    height: 100%;
}
header a{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
   transition: 0.3s;
    display: flex;
    
}
header a:hover,
header a:focus{
 background-color: white;
 outline: none ;
}
.cards{
    display: flex;
   justify-content: space-between;
}
.stat-card{
    margin-top: 30px;
    padding: 20px;
    background-color: #EBF5FE;
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    max-width: 700px;
}
.title-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.title-row .label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #10234D;
    font-family: poppins;
}
.second-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    height: 50px;
}
.second-row h2{
   color: #10234D;
}
.badge{
padding-left: 50px;
display: flex;
}
.badge {
    background-color: #ffffff;
    border: #E2EBF4;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 20px;
    width:250px ;
    height: 25px;
    gap: 5px;
    display: flex;
}
.badge p{
    color: #1143B6;
    font-family: poppins;
    font-weight: 450;
}
.bottom-row{
    color: #626E7C;
    display: flex;
    gap: 18px;
    font-size: 16px;
    height: 50px;
}
.bottom-row h3{
      color:#112b66;
  margin-left:4px;
  font-family: poppins;
}
.bottom-row .new {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: poppins;
}
.bottom-row .old{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: poppins;
}