* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #bababa;
    position: fixed;
    z-index: 999;
    margin: auto 0;
    width: 100%;
    background: #fffffff7;
    backdrop-filter: blur(37px);
    border-radius: 70px;
}

header img {
    width: 200px;
    height: 60px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #093A30;
    gap: 50px;
    padding: 10px;
    align-items: center;
    align-content: space-around;
}

.nav button {
    background: #093A30;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: #C6D623;
}

.hero {
    align-items: flex-start;
    color: #093A30;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    align-content: stretch;
}

.hero h1 {
    font-size: 60px;
    font-weight: 600px;
    text-decoration: underline #C6D623;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}

.hero button {
    background: #093A30;
    width: 250px;
    height: 60px;
    color: white;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.rating {
    text-align: center;
}

.rating p {
    color: #093A30;
    font-size: 25px;
    font-weight: 600;
}

.rating h3 {
    color: #093A30;
    text-decoration: underline #C6D623;
    font-size: 50px;
    font-weight: 700;
}

label {
    border: 1px dashed black;
    width: 250px;
    height: 30px;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 45px;
    font-weight: 600;
    color: #093A30;
    text-decoration: underline #C6D623;
    margin-bottom: 40px;
    text-align: start;
}

.box-1 {
    background: #F9F9F9;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.boxes {
    display: flex;
    gap: 20px;
}

.text {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.app-rapdin {
    color: #093A30;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-rapdin button {
    background: #093A30;
    width: 250px;
    height: 60px;
    color: white;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px #C6D623;
}

.app-rapdin p {
    font-size: 22px;
}

.icon {
    width: 100%;
    height: 100px;
    text-align: center;
}

.left-bg {
    left: 0;
}

.right-bg {
    right: 0;
}

.reviwe {
    position: relative;
    min-height: 100vh;

}

.bg-element {
    position: absolute;
    top: 0;
}

.labels {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.labels p {
    background: #093A30;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
}

.label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.label p {
    background: #C6D623;
    color: white;
    width: 100%;
    max-width: 500px;
    font-size: 25px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
}

.cashback {
    font-size: 45px;
    font-weight: 600;
    color: #093A30;
    text-decoration: underline #C6D623;
    margin-bottom: 40px;
    text-align: start;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-rapdin.box {
    border: 1px solid #0B483C;
    padding: 60px 30px;
    border-radius: 20px;
    box-shadow: inset 0 -10px 0px #C6D623;
    position: relative;
}

.cards {
    position: relative;
}

.card {
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #0B483C;
    border: 1px solid #093A30;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 5px #C6D623;
    position: absolute;
}

.card.right {
    right: 60px;
    bottom: 150px;
}

.card.top {
    top: 220px;
    left: 630px;
}

.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage h2 {
    text-align: center;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
}

.line {
    position: absolute;
    top: 25px;
    left: 15%;
    width: 70%;
    height: 6px;
    background: #b8d400;
    z-index: 1;
}

.step {
    width: 30%;
    position: relative;
    z-index: 2;
}

.number {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    background: #014d40;
    color: #d7ff00;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 0 #b8d400;
}

.step h3 {
    color: #014d40;
    font-size: 28px;
    margin-bottom: 10px;
}

.step p {
    color: #014d40;
    font-size: 18px;
    line-height: 1.5;
}



.loan-app-section {
    padding: 80px 0;
}

.loan-card {
    max-width: 1200px;
    margin: auto;
    background-image: url(/Images/bg-img.png);
    border-radius: 30px;
    padding: 70px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.card-images {
    display: flex;
    gap: 15px;
}

.img-item {
    width: 110px;
    height: 190px;
    overflow: hidden;
    border-radius: 12px;
    background: #d8f14a;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    color: #fff;
    max-width: 500px;
}

label.for {
    border: 1px dashed black;
    width: 250px;
    height: 30px;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 20px;
    background: white;
    color: black;
}

.card-content h2 {
    font-size: 48px;
    margin: 20px 0;
    color: white;
}

.card-content h2 span {
    color: #d8f14a;
}

.btn-app {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 35px;
    background: #d8f14a;
    color: #004d3b;
    border-radius: 50px;
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
}

.title h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #004d3b;
}

.review-card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #004d3b;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    max-height: 300px;
}

.review-cards {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.rating {
    display: flex;
    gap: 10px;
}

.review-cards.top {
    margin-top: 100px;
    width: 100%;
    max-width: 250px;
}

.rating p {
    color: #093A30;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.testmonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.testmonial-img {
    display: flex;
    gap: 0px;
}

.testmonial-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
    border: 1px solid #b8d400;
    padding: 0;
}

.baix {
    color: #004d3b;
}

.faq {
    color: #004d3b;

}

.faq button {
    background: #093A30;
    width: 250px;
    height: 60px;
    color: white;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px #C6D623;
}
.question img{
    
}