@font-face {
    font-family: 'PP Editorial';
    src: url('/fonts/pp-editorial-new-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'AnekLatin';
    src: url(/fonts/AnekLatin-VariableFont_wdth\,wght.woff2)format('woff2');
}

body {
    background: black;
}
span{
    display: inline-block;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

#hero {
    margin-bottom: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
}

p,
h2,
h3,
h4,
button {
    font-family: 'AnekLatin';
    color: #FCF9E5;
    margin: 0;
}

section {
    margin-bottom: 150px;
}

.menu-card {
    background-color: #330400e6;
    height: 100vh;
    display: flex;
    backdrop-filter: blur(43px);
}

.menu-section {
    position: fixed;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all ease-in 0.5s;
}

.active-menu {
    position: fixed;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all ease-in 0.5s;
}

.menu-title {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 20px;
}

.menu-title h2 {
    font-family: 'PP Editorial';
    font-size: 50px;
    font-weight: 600;
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.side-menu img {
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 116px;

}



.side-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 100px;
    margin: 0;
    padding-right: 0;
    transition: all ease-in 0.5s;
}

.side-menu ul :hover {
    background-color: #bc554c;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: all ease-in 0.3s;
}

.side-menu {
    background: rgba(47, 40, 40, .65);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .08);
    margin: 0;
    width: 40%;
    align-items: center;
    display: flex;
    border: none;
}

.side-menu nav ul li {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.side-menu nav ul li a {
    text-decoration: none;
    color: #FCF9E5;
    font-family: 'AnekLatin';
    font-size: 30px;
    font-weight: 600;
}

.side-menu nav {
    margin: 0;
    width: 100%;
}

.side-menu img {
    width: 50px;
    height: 50px;
}




.glass-nav {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%) translateY(120px);

    width: 700px;
    max-width: 1300px;
    height: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: rgba(47, 40, 40, .65);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .35),
        inset 0 1px 1px rgba(255, 255, 255, .08);

    opacity: 0;
    visibility: hidden;

    transition: .45s ease;

    z-index: 9999;
}

/* Show Navbar */

.glass-nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

/* Links */

.glass-nav a {
    color: #FCF9E5;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
    font-family: 'AnekLatin';
}

.glass-nav a:hover {
    color: #F33221;
}

/* Active Link */

.glass-nav a.active {
    color: #fff;
}

/* Red Button */

.top-btn {
    width: 50px;
    height: 50px;

    background: #820D02;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    flex-shrink: 0;
}

/* SVG */

.top-btn img {
    width: 44px;
    height: 44px;
    object-fit: contain;
    transition: .3s;
}

.top-btn:hover img {
    transform: translateY(-5px);
}



#hero {
    /* background-image: url(/images/bg-img.png); */
    height: 100%;
    min-height:100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.logo-sec {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-sec img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.contants {
    padding-top: 2rem;
}

.contants a img {
    width: 50px;
    height: 50px;
}

.ham-menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ham-menu span {
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    margin: 2px 0;
    transition: 0.5s;

}

.ham-menu .center {
    width: 30px;
    height: 3px;
}

.ham-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 100px;
    z-index: 3;
}

.ham-menu.active span:nth-child(1) {
    transform: rotate(48deg) translate(14px);
    background: #FCF9E5;
    margin: -6px 0;
    height: 4px;
}

.ham-menu.active span:nth-child(2) {
    display: none;
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, 10px);
    background: #FCF9E5;
    height: 4px;
}

h1 {
    font-family: 'PP Editorial';
    font-size: 100px;
    color: #FCF9E5;
    text-align: center;
    margin-top: 100px;
}
h1 span:last-child{
    margin-left: 20%;
}


.hero-title{
    position: relative;
}

.element {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 23%;
    top: -7%;
    animation: move 30s linear infinite alternate-reverse;
}
@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.icon-tag p {
    font-size: 20px;
    color: #FCF9E5;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-family: 'AnekLatin';
    color: #FCF9E5;
    background-color: #C31202;
    width: 170px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    font-weight: 600;
}

.icons .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224 207 207 / 25%);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    transition: .5s;
}

.icon:hover {
    background-color: #c31202e0;
}

.icons {
    display: flex;
    gap: 10px;
    margin: 0;
}
.quates h4 {
    font-size: 45px;
    font-weight: 400;
    color: #FCF9E5;
    text-align: center;
}


.mockup-1 {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    right: 30%;
    top: 23%;
    animation: round 3s linear infinite alternate-reverse;
}

@keyframes round {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        transform: rotate(345deg);
    }
}

.mockup-2 {
    width: 80px;
    height: 80px;
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    left: 27%;
    top: 26%;
    animation: rotate 4s linear infinite alternate-reverse;
}

@keyframes rotate {
    0% {
        transform: scale(0.4);
    }

    100% {
        transform: scale(0.5);
        transform: rotate(10deg);
    }
}

.mockup-3 {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    right: 31%;
    bottom: 36%;
    animation: change 4s linear infinite alternate-reverse;
}

@keyframes change {
    0% {
        transform: scale(0.5);

    }

    100% {
        transform: scale(1);
        transform: rotate(10deg);

    }
}

.mockup-4 {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    left: 31%;
    bottom: 36%;
    animation: round 3s linear infinite alternate-reverse;
}

@keyframes round {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        transform: rotate(345deg);
    }
}

#section-two {
    margin-bottom: 0;
}

.section .dynamic-text {
    margin-bottom: 0;
}

.dynamic-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: rgb(0, 0, 0);
    margin-bottom: 0;
}

.dynamic-text h2 {
    font-family: 'AnekLatin';
    font-size: calc(2rem + 1.5vw);
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: FCF9E5;
    text-align: center;
}

.dynamic-text-clone>div {
    display: inline-block;
    filter: blur(4px);
    /* Initial blur effect */
    opacity: 0.5;
    /* Slightly transparent */
    transition: filter 0.3s ease, opacity 0.3s ease;
    /* Smooth transition for fallback */
}

.quates {
    position: relative;
}

label {
    font-family: 'PP Editorial';
    font-size: 30px;
    font-weight: 400;
    color: #F33221;
    text-align: center;
    align-items: center;
    margin: 0;
}

.text h2 {
    font-size: 80px;
    color: #FCF9E5;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}


.text {
    display: flex;
    flex-direction: column;
}


.work-card {
    display: flex;
    align-items: center;
    background: #0e0e0e;
    border-radius: 16px;
    overflow: hidden;
    /* transition: .4s ease; */
    margin-bottom: 20px;
    border-top: solid 1px #383838;
}

/* .work-card:hover {
    transform: translateY(-8px);
} */

.work-image {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.work-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.work-details {
    width: 50%;
    padding: 40px;
}

.work-tag {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #7F5F00;
    color: #FFD697;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}

.work-title {
    font-size: 34px;
    margin-bottom: 15px;
    color: #FCF9E5;
    font-weight: 500;
}

.work-text {
    color: #9c9c9c;
    line-height: 1.8;
    margin-bottom: 30px;
}

.work-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    background: #C31202;
    color: #FCF9E5;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s;
}

.work-btn:hover {
    background: #4C0600;
    transform: scale(1.1);
}

section {
    /* overflow-x: hidden; */
}

/* .about-text{
    overflow-x: hidden;
    overflow-y: visible;
} */

.abouts h2 {
    font-size: 80px;
    color: #FCF9E5;
    font-weight: 600;
}

.my-photo {
    text-align: end;
    overflow: hidden;
}

.my-img {
    width: 350px;
}

.about-btn {
    background-color: #C31202;
    font-size: 20px;
    font-family: 'AnekLatin';
    border-radius: 25px;
    width: 220px;
    height: 50px;
    padding: 10px;
    border: none;
    margin-top: 50px;
}

.about-btn a {
    text-decoration: none;
    color: #FCF9E5;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
}

.about-text p {
    font-size: 27px;
}

.services {
    width: 90%;
    margin: 80px auto;
    display: flex;
    gap: 20px;
}

.card {
    background: linear-gradient(135deg, #2b1b1b, #1b1719);
    border: 1px solid rgba(255, 60, 60, .4);
    border-radius: 18px;
    padding: 25px;
    color: #fff;
    overflow: hidden;
}

.large-card {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-card {
    flex: 1;
    height: 100%;
}

.content {
    width: 60%;
}

.content h2,
.small-card h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.content p,
.small-card p {
    color: #bdbdbd;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 25px;
}

.tools {
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 12px;
    width: max-content;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .05);
    margin: 0;
}

.tools img {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.image img {
    width: 260px;
}

.large-card {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.skill-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 890px;
}

.skill-card {
    width: 150px;
    height: 180px;
    background: #151515;
    border: 1px solid #2a2a2a;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .45s ease;
    margin: 0;
}

.skill-card img {
    width: 70px;
    transition: .45s ease;
    height: 70px;
    object-fit: contain;
}

.skill-card:hover {
    background: #2a1818;
    border: 1px solid #8a1d1d;

    box-shadow:
        0 0 18px rgba(180, 20, 20, .45),
        0 0 40px rgba(120, 0, 0, .35),
        inset 0 0 18px rgba(255, 80, 80, .08);

    transform: translateY(-6px);
}

.skill-card:hover img {
    transform: scale(1.12);
}


.software-section {

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;

}

.left-content {
    color: #fff;
    height: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.left-content p {
    font-size: 20px;
}

.left-content h2 {
    font-size: 80px;
    font-weight: 600;
    font-family: 'AnekLatin';
    color: #FCF9E5;
    display: flex;
}

.left-content h3 {
    display: none;
}











/* footer */

.contact-footer {
    background: #000;
    padding: 100px 6%;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 100px;
    position: relative;
    align-items: flex-start;
}

.footer-form {
    width: 100%;
    margin: 0;
    max-width: 500px;
}

.footer-form h2 {
    color: #FCF9E5;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 35px;
}

.footer-form input {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 15px;
    /* border: 1px solid #FCF9E5; */
    border: 1px solid #fcf9e5a5;
    border-radius: 50px;
    background: transparent;
    color: #FCF9E5;
    font-size: 14px;
}

.footer-form input::placeholder {
    color: #fcf9e5ac;
}

.footer-form input:active,
.footer-form input:focus {
    /* border: 1px solid #d84c0ba5; */
    outline: 1px solid #fcf9e5ac;
    background: #232323;
}   

.input-set {
    display: flex;
    flex-direction: row;
}

input[type="tel"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer-form button {
    margin-top: 15px;
    padding: 13px 45px;
    border: none;
    border-radius: 50px;
    background: #e21b00;
    color: #FCF9E5;
    font-size: 18px;
}

.footer-info {
    width: 100%;
    margin: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.footer-info h3 {
    color: #FCF9E5;
    font-size: 36px;
    margin-bottom: 40px;
}

.info {
    display: flex;
    gap: 20px;
    padding: 0 10px;
    /* margin-left: 0; */
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 10px;
}

.dtil {
    margin: 0;
}

.info h4 {
    color: #FCF9E5;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}

.info a {
    text-decoration: none;
    color: #adadad;
}
.info a:hover {
    color: #ffffff;
}

.info p {
    color: #adadad;
}

.footer_links {

    display: flex;

    gap: 40px;
    flex-direction: column;
}

.footer_links a {

    color: #FCF9E5;

    text-decoration: none;
    font-size: 20px;

    transition: .35s;
}

.footer_links a:hover {

    color: #ff2b00;
}


.footer-image {
    width: 30%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    z-index: -1;
    bottom: 0;
}

.glow {
    /* position: absolute; */
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    filter: blur(90px);
    opacity: .5;
}

.footer-image img {
    position: absolute;
    bottom: 20%;
}

footer {
    margin-bottom: 50px;
}


/* gsap */
.wrapper,
.spacer{
  width: 100%;
  min-height: 50px;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: dashed 2px var(--color-surface50);
  border-bottom: dashed 2px var(--color-surface50);
}

.card-wrapper {
  width: 100%;
  perspective: 500px;
  margin-bottom: 50px;
}
.card-wrapper:last-child {
  margin-bottom: 0;
}
