@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Lobster&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #4d2c82;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;

}

.list {
    display: flex;
    list-style: none;
    gap: 60px;
    color: white;
    align-items: center;
    align-content: center;
}

.heros {
    background-image: url(/Images/luxury-bedroom-hotel.jpg);
    min-height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
}

.heros h1 {
    font-size: 60px;
}

.heros p {
    font-size: 25px;
}

li a {
    color: white;
    text-decoration: none;
}

li button {
    background-color: #f26221;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: #f26221;
    align-items: center;
}

.tracking-no input {
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border-color: white;
    background-color: white;
    align-items: flex-start;

}

.tracking-no button {
    width: 150px;
    height: 50px;
    background-color: #f26221;
    color: white;
    border-radius: 25px;
    border-color: #f26221;
}

.container-layout {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    padding: 20px;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;

}

.nav ul {
    display: flex;
    gap: 30px;
    padding: 10px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    list-style: none;
    color: white;
}

.cta-btn {
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: 600;
}

.hero {
    background-image: url(../Images/banner.png);
    height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero h1 {
    font-size: 50px;
    font-weight: 400;
}

.hero h2 {
    font-size: 40px;
    margin-top: 5px;
}

.East {
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
    background: rgba(70, 70, 70, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.hero p {
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
    align-items: center;
    flex-direction: row;
    margin-right: -20px;
}

.review {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 10px;
}

.butn {
    display: flex;
    justify-content: center;
    background-color: #959595;
    width: 150px;
    align-items: center;
    border-radius: 25px;
    padding: 5px 10px;
    gap: 10px;
}

.card-1 {
    background: rgba(70, 70, 70, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: absolute;
    right: 4%;
    bottom: 4%;
}

.adv-btn {
    border: 1px solid #CACACA;
    width: 150px;
    height: 60px;
    align-items: center;
    border-radius: 50px;
    padding-left: 12px;
    padding-top: 16px;

}

.btn-ico {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.h2-title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 300;
    flex-direction: column;
}

.note {
    color: #646464;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;

}

.small-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1 img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 40px;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.img-2 img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 40px;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
}

.img-3 img {
    width: 250px;
    height: 450px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 40px;
    align-items: center;
    flex-direction: row;
    margin-top: 65px;

}

.img-4 img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 40px;
    margin-bottom: 35px;
    align-items: center;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

.img-5 img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 40px;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-top: 150px;
}

.text-bar {

    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Exploration h3 {
    font-size: 16px;
    font-weight: 500;
}

.iconi img {
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
}

.cross {
    font-size: 14px;
}

.bromo-btn {
    border: 1px solid #CACACA;
    width: 150px;
    height: 60px;
    align-items: center;
    border-radius: 50px;
    padding-left: 25px;
    padding-top: 18px;

}

.Discover h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 300;
    flex-direction: column;
}

.note-p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F5F5F;
    font-size: 16px;
    flex-direction: column;
    padding-top: 20px;
}


.rating {
    display: flex;
    gap: 30px;
}

.rating-card {
    flex-direction: column;
}

.cnt-banner {
    position: relative;
    padding-left: 20px;
    min-width: 30%;
}

.cnt-banner img {
    height: 100%;
    object-fit: cover;
    min-height: 500px;
}

.cnt-banner h3 {
    position: absolute;
    bottom: 20%;
    color: white;
    left: 30px;
}

.cnt-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 70%;
}

.cnt-card {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.card-banner {
    display: flex;
}

.cnt-cards {
    display: flex;
}

.content-area {
    display: flex;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.card img {
    width: 40px;
    height: 40px;
}

.card {
    background-color: #1D1F36;
    color: white;
    height: 100%;
    padding: 10px;
    gap: 15px;

}

.cards-img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

/* h2{
    align-items: center;
    color: #1278A8;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5%;
} */
.img-card h3 {
    color: #1278A8;
    font-size: 20px;

}

.cards {
    height: 100%;
}

.img {}

.card-contants h2 {
    font-size: 50px;
}

.card-contants button {
    background-color: #4d2c82;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;

}

section {
    margin-bottom: 90px;
}

.service-img {
    background-image: url(https://theracelogistics.com/site/images/img/race-plane.jpg);
   background-position: center;
   background-size: cover;
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    gap: 10px;
}

.note {
    padding: 20px;
    background-color: #2a124e;
    color: white;
    border-radius: 15px;
    align-items: flex-start;
    height: 100%;
}

.text h2 {
    align-items: center;
    font-size: 50px;
    text-align: center;
}

.text p {
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.box-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.box-1 {
     width: 300px;
    height: 100%;
    background: rgb(5, 0, 42);
    color: white;
    padding: 10px 10px;
}

.box-2 {
     width: 300px;
    height: 100%;
    background: rgb(5, 0, 42);
    color: white;
    padding: 10px 10px;
}

.box-3 {
     width: 300px;
    height: 100%;
    background: rgb(5, 0, 42);
    color: white;
    padding: 10px 10px;
}

.box-4 {
     width: 300px;
    height: 100%;
    background: rgb(5, 0, 45);
    color: white;
    padding: 10px 10px;
}

.box-5 {
     width: 300px;
    height: 100%;
    background: rgb(5, 0, 42);
    color: white;
    padding: 10px 10px;
}
.card-contants h2{
    color: #000000;
}





